<div class="container">
    <table class="table table-bordered table-striped mt-5">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each games}}
                <tr>
                    <td><a class="link-unstyled" href="/game/{{_id}}">{{name}}</a></td>
                    <td>{{rating}}</td>
                    <td>{{link}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>